* html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  background-color: #b7f7f4;
  width: 100vw;
  text-align: center;
  padding: 0.5em;
  margin: 0;
  border: 1px solid #93c6c4;
}

.shown-date {
  font-weight: bold;
  padding: 1em;
}

.date {
  padding: 1em;
}

.forecast {
  display: flex;
}

.expanded-details {
  padding: 1em;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.date-link {
  cursor: pointer;
  margin: 1em 3em 1em 3em;
}

.date-nav-bar {
  display: flex;
}

.location-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
}

.location-link {
  padding: 0.5em, 2em, 0.5em, 2em;
  margin: 1em 2em 0 2em;
}

.location-form {
  padding: 0.5em;
}

.italics {
  font-style: italic;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  flex-grow: 1;
  width: 80vw;
  background-color: rgba(183, 247, 244, 0.25);
  border: 1px solid #93c6c4;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  background-color: white;
  height: 100vh;
}

.future-component {
  display: flex;
}

.date {
  padding: 0;
  margin: 0;
}