* html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}

.shown-date {
  font-weight: bold;
  padding: 1em;
}

.date {
  padding: 1em;
}

.forecast {
  display: flex;
}

.expanded-details {
  padding: 1em;
}
